<!DOCTYPE html>
<html>
<head>
  <title>Multirole</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to('Goto roles', roles_path) %>
<%= link_to('Goto users', users_path) %>
<%= yield %>

</body>
</html>
